
<!-- this is called an EJS partial, part of EJS layouts -->
<%- include("partials/header") %>

<h1>Home</h1>

<p> <%= startingContent %> </p>

<%# this is an example of an EJS comment %>

<%#  step thru array of js objects passed to home.ejs via posts array %>
<%#  i is the index number for each js object, not used here but could be coded in as %>
<%#  posts.title[i] & posts.content[i] in the <h3> and <p> elements, see below%>
<% posts.forEach(function(post,i){ %>
  <%# for debug %>
  <%# console.log(post.title); %>
  <%# console.log(posts); %>

  <%# another way to code this %>
  <%# posts.title[i] %>
  <%# posts.content[i] %>

  <h3> <%= post.title %> </h3>
  <!-- see styles.css class=homeContent, this limits text area to be displayed -->
  <!-- if the anchor tag were on a seperate line below the paragraph, this would have worked well -->
<p> <%= (post.content.substring(0,100) + " ...") %> <a href="/posts/<%= post.title %>">read more</a> </p>
<% }); %>

<%# this is called an EJS partial, part of EJS layouts %>
<%- include("partials/footer") %>
